<div class="mw7 center cf">
	{{ range $.Scratch.Get "images" }}
		<div class="fl w-third">
			<a href="{{ .RelPermalink }}" class="db aspect-ratio aspect-ratio--1x1 dim">
				{{ if .Params.is_video }}
					<video class="lazyload w-100" data-src="https://storage.googleapis.com/charlieegan3-instagram-archive/current/{{ .Params.file_reference }}.mp4" autoplay loop muted>
						<source type="video/mp4" src="">
						Video not supported
					</video>
				{{ else }}
					<span role="img" data-src="https://storage.googleapis.com/charlieegan3-instagram-archive/current/{{ .Params.file_reference }}.jpg" class="bg-center cover aspect-ratio--object lazyload"></span>
				{{ end }}
			</a>
		</div>
	{{ end }}
</div>
