{{- $.Scratch.Add "locations" slice -}}
{{- range $.Scratch.Get "posts" -}}
    {{- range .Params.locations -}}
        {{- $.Scratch.Add "locations" . -}}
    {{- end -}}
{{- end -}}

{{ $locations := uniq ($.Scratch.Get "locations") }}

{{ if (gt (len $locations) 0) }}
    {{- $.Scratch.Set "single" false -}}

    {{- $single := cond (eq (len $locations) 1) true false -}}

    {{- $.Scratch.Set "height" "400px" -}}
    {{- $.Scratch.Set "zoom" "5" -}}
    {{- if $single -}}
        {{ $.Scratch.Set "height" "250px" -}}
        {{ $.Scratch.Set "zoom" "7" -}}
    {{- end -}}
    {{- $firstLocation := ($.Site.GetPage "taxonomyTerm" "locations" (index $locations 0)) -}}
    {{- $centerLat := $firstLocation.Params.lat -}}
    {{- $centerLong := $firstLocation.Params.long -}}

    <div class="mw7 center cf">
        <div id="photomap" style="width: 100%; height: {{ $.Scratch.Get "height" }};"></div>
        <script>
            L.mapbox.accessToken = 'pk.eyJ1IjoiY2hhcmxpZWVnYW4zIiwiYSI6ImNqZzB2MDdxZTFjNTAyeHRsemQwbjVsZXIifQ.NC-7ANrzAfu5RDfpCQIEMg';
            var map = L.mapbox.map('photomap', 'mapbox.light', { zoomControl: false, minZoom: 3 });
            L.mapbox.styleLayer('mapbox://styles/charlieegan3/cjg13skaf0o7c2spats0nxsfy').addTo(map);

            var geoJson = {
                type: 'FeatureCollection',
                features: [
                    {{ range $locations }}
                        {{ $page := ($.Site.GetPage "taxonomyTerm" "locations" .) }}
                        {{ $posts := intersect $page.Pages ($.Scratch.Get "posts") }}
                        {{ $post := index $posts 0 }}

                        {
                            "type": "Feature",
                            "geometry": {
                                "type": "Point",
                                "coordinates": [{{ $page.Params.long }}, {{ $page.Params.lat }}]
                            },
                            "properties": {
                                "title": {{ $page.Params.name }},
                                "postCount": {{ len $posts }},
                                "permalink": {{ $page.Permalink }},
                                "icon": {
                                    {{ if $post.Params.is_video }}
                                        "iconUrl": "/images/video_icon.png",
                                    {{ else }}
                                        "iconUrl": {{ $.Site.Params.image_source }} + "{{ $post.Params.file_reference }}" + ".jpg&w=50",
                                    {{ end }}
                                    "iconSize": [30, 30],
                                    "iconAnchor": [25, 25],
                                    "popupAnchor": [0, -25],
                                    "className": "dot"
                                }
                            }
                        },
                    {{ end }}
                ]
            };

            var myLayer = L.mapbox.featureLayer().addTo(map);

            myLayer.on('layeradd', function(e) {
                var marker = e.layer,
                    feature = marker.feature;
                    properties = feature.properties;

                if ({{ len $locations }} > 1) {
                    if (properties.postCount > 1) {
                        marker.bindPopup("<p><strong>" + properties.title + "</strong><br><a href=\"" + properties.permalink + "\">View " + properties.postCount + " posts</a></p>");
                    } else {
                        marker.bindPopup("<p><strong>" + properties.title + "</strong><br><a href=\"" + properties.permalink + "\">View post</a></p>");
                    }
                }

                marker.setIcon(L.icon(feature.properties.icon));

                map.on("zoomend", function() {
                    var newIconOptions = feature.properties.icon;
                    var size = map.getZoom() * 4;

                    if (size > 50) { size = 50; }
                    if (size < 20) { size = 20; }

                    newIconOptions["iconSize"]    = [size, size];
                    newIconOptions["iconAnchor"]  = [size/2, size/2];
                    newIconOptions["popupAnchor"] = [0, size/2*-1];

                    marker.setIcon(L.icon(newIconOptions));
                });
            });

            myLayer.setGeoJSON(geoJson);
            map.fitBounds(myLayer.getBounds());
            if (map.getZoom() > 12) { map.setZoom(12) }

            if ({{ len $locations }} === 1) {
                var interval = window.setInterval(function(){
                    if (map.getZoom() > 6) {
                        map.setZoom(map.getZoom() - 2)
                    } else {
                        clearInterval(interval);
                    }
                }, 500);
            }

            L.control.fullscreen().addTo(map);
        </script>
    </div>
{{ end }}
