{{ $size := cond (ne ($.Scratch.Get "size") nil) ($.Scratch.Get "size") $.Site.Params.grid_image_size }}

<div class="mw7 center cf">
	{{- range $.Scratch.Get "posts" -}}
		<div class="fl w-third">
			<a href="{{ .RelPermalink }}" class="db aspect-ratio aspect-ratio--1x1 dim">
				{{ $post := . }}
				{{- partial "post.html" (dict "image_source" $.Site.Params.image_source "video_source" $.Site.Params.video_source "grid_image_size" $.Site.Params.grid_image_size "post" $post "opacity" "") -}}
			</a>
		</div>
	{{- end -}}
</div>
