<!DOCTYPE html>
<html>
	<head>
		<title>
			{{ block "title" . }}
				{{ $.Site.Title }}
			{{ end }}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css" />
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Ubuntu+Mono" rel="stylesheet">
		<style>
			body {
				font-family: 'IBM Plex Serif', serif;
			}
			.monospace {
				font-family: 'Ubuntu Mono', monospace;
			}
		</style>
		<script>
			function isScrolledIntoView(el) {
				var rect = el.getBoundingClientRect();
				var elemTop = rect.top;
				var elemBottom = rect.bottom;
				var isVisible = (elemTop >= 0) && (elemTop <= window.innerHeight);
				return isVisible;
			}


			function ready(fn) {
				if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
					fn();
				} else {
					document.addEventListener('DOMContentLoaded', fn);
				}
			}

			function lazyload() {
				var images = document.querySelectorAll(".lazyload");
				for (var i = 0; i < images.length; i++) {
					if (isScrolledIntoView(images[i])) {
						var src = images[i].getAttribute("data-src");
						images[i].style.backgroundImage = 'url("'+src+'")';
						images[i].classList.remove("lazyload");
						images[i].removeAttribute("data-src");
					}
				}
			}
			document.addEventListener("scroll", lazyload);
			ready(lazyload);
		</script>
	</head>
	<body class="bg-near-black silver">
		<section class="mw7 mw8-ns center pa3 ph5-ns">
			{{ block "main" . }}
			{{ end }}
		</section>
	</body>
</html>
