<!DOCTYPE html>
<html>
	<head>
		<title>
			{{- block "title" . -}}
				{{- $.Site.Title -}}
			{{- end -}}
		</title>
		<meta name="Description" content="{{- block "description" . -}}Portfolio site featuring photos by charlieegan3.{{- end -}}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css" />
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Ubuntu+Mono" rel="stylesheet">

		<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
		<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

		<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/styles.css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.1.1/turbolinks.js"></script>
		<script src="{{.Site.BaseURL}}js/app.js"></script>
	</head>
	<body class="bg-near-black silver">
		<div class="display mw7 mw9-ns center cf tc bg-near-black f6 f5-ns">
			<a class="fl f4 w-100 w-30-l pt1 pb2 db dim link gray" href="/"><strong><span class="moon-gray">charlieegan</span><span class="green">3</span> <span class="blue">photos</span></strong></a>
			{{- range .Site.Menus.main -}}
				<a class="fl w-50 w-25-m w-10-l pt1 pb2 db dim link gray" href="{{ .URL }}">{{ .Name }}</a>
			{{- end -}}
		</div>

		<section class="mw7 mw9-ns center pa3-ns ph5-ns">
			{{- block "main" . -}}
			{{- end -}}
		</section>
	</body>
</html>
