{{ define "title" }}
	{{- .Title -}} - {{- $.Site.Title -}}
{{ end }}

{{ define "main" }}
<div class="mw7 center cf">
	{{ $archives := where $.Site.Pages "Type" "archive" }}

	<div class="w-100 w-third-ns fl">
		<h2 class="">Years</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "year") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "Year of" "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>

	<div class="w-100 w-third-ns fl">
		<h2 class="">Months</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "month") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "All " "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>

	<div class="w-100 w-third-ns fl">
		<h2 class="">Weekdays</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "week-day") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "Taken on a " "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>
</div>

<div class="mw7 center cf">
	<div class="w-100 w-third-ns fl">
		<h2 class="">Month in Year</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "year-month") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "Taken on a " "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>

	<div class="w-100 w-third-ns fl">
		<h2 class="">Day in Month</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "month-day") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "Taken on a " "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>

	<div class="w-100 w-third-ns fl">
		<h2 class="">Days</h2>
		<ul>
			{{- range $key, $archive := (where $archives ".Params.class" "day") -}}
				<li>
				<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ replace $archive.Title "Taken on a " "" }}</a>
				</li>
			{{- end -}}
		</ul>
	</div>
</div>
{{- end -}}
