{{ define "title" }}
	{{ .Title }} - {{ $.Site.Title }}
{{ end }}

{{ define "main" }}
	<h1 class="display tc">{{ .Title }}</h1>

	{{ if (gt (len .Params.related) 0) }}
		<div class="mw7 f7 f6-ns center cf ph3 ph0-ns">
			<p>
			<span class="mid-gray">Related</span>
				{{ $related := .Params.related  }}
				{{ range $i, $e := .Params.related }}
					{{ $archive := ($.Site.GetPage "taxonomyTerm" "archive" $e) }}
					<a class="link gray nowrap dim" href="{{ $archive.Permalink }}">{{ $archive.Title }}</a>,
				{{ end }}
				<a class="link gray nowrap dim" href="/archive">All Archives</a>
			</p>
		</div>
	{{ end }}

	{{ $.Scratch.Set "posts" .Pages }}
	{{ partial "post_map.html" $ }}
	<br>
	{{ partial "post_grid.html" $ }}
{{ end }}
