body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.f7 {
   font-size: 0.675rem;
}
.md p:first-child {
  margin-top: 0;
}

.md p:last-child {
    margin-bottom: 0;
}
