{{ define "title" }}
	{{- htmlUnescape .Params.title -}} - {{- $.Site.Title -}}
{{ end }}

{{ define "main" }}
<div class="center cf">
	<div class="w-100 fl w-50-l center ph3-ns">
		{{- if .Params.is_video -}}
			<video class="w-100 mw6 mw9-ns" autoplay loop>
				<source src="{{ $.Site.Params.video_source }}{{ .Params.file_reference }}.mp4" type="video/mp4">
				Video not supported
			</video>
		{{- else -}}
      <img class="w-100 mw6 mw9-ns" src="{{ $.Site.Params.image_source }}{{ .Params.file_reference }}.jpg&w={{ $.Site.Params.single_image_size }}">
		{{- end -}}
	</div>

	<div class="w-100 fl w-50-l center f7 f5-ns ph3 pt2 pt0-l">
		{{- if (gt (len .Content) 0) -}}
			<div class="content mb2">
				{{- .Content -}}
			</div>
		{{- end -}}

		<div>
			<p class="mid-gray mt0">
				{{- $archive := ($.Site.GetPage "taxonomyTerm" "archive" (.Date.Format "2006-01-02")) -}}

				<a class="link gray dim" href="{{ $archive.Permalink }}">
					<span class="mid-gray">View posts from</span>
					<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">
						{{- .Date.Format "Monday" -}},

						{{ .Date.Format "2" -}}
						{{- if in (slice 1 21 31) .Date.Day -}}
							st
						{{- else if in (slice 2 22) .Date.Day}}
							nd
						{{- else if in (slice 3 23) .Date.Day -}}
							rd
						{{- else -}}
							th
						{{- end }}

						{{ .Date.Format "January" }}

						{{ if (ne (.Date.Format "2006") (dateFormat "2006" now)) -}}
							{{- (.Date.Format "2006") -}}
						{{- end -}}
					</time>
				</a>
			</p>
		</div>

		<div>
			{{- $.Scratch.Set "posts" (where $.Site.Pages ".Params.file_reference" .Params.file_reference) -}}
			{{- partial "post_map.html" $ -}}
		</div>

		<div>
			{{- $pageId := .Params.id -}}
			{{- range .Params.locations -}}
				{{- $location := ($.Site.GetPage "taxonomyTerm" "locations" .) -}}

				<p>
					{{ if (gt (len $location.Pages) 2) }}
						<a class="link dim silver" href="{{ $location.Permalink }}">
							<span class="mid-gray">View {{ sub (len $location.Pages) 1 }} other posts near</span>
							{{ htmlUnescape $location.Params.name }}
						</a>
						{{ $.Scratch.Set "posts" (first 3 (where $location.Pages ".Params.id" "!=" $pageId)) }}
						{{ $.Scratch.Set "size" $.Site.Params.small_grid_image_size }}
						{{ partial "post_grid.html" $ }}
					{{ else }}
						<a class="link dim silver" href="{{ $location.Permalink }}">
							<span class="mid-gray">View posts near</span>
							{{ htmlUnescape $location.Params.name }}
						</a>
					{{ end }}
				</p>
			{{- end -}}
		</div>

		<p>
			<a class="link dim silver" target="_blank" href="https://www.instagram.com/p/{{ .Params.code }}">
				<span class="mid-gray">View this post on</span>
				Instagram
			</a>
		</p>
		<p>
      <span class="mid-gray">View</span>
      {{ if .Params.previous }}
        <a class="link dim silver" href="/photos/{{ .Params.previous }}">
          &larr;Previous
        </a>
      {{ end }}
      {{ if .Params.next }}
        <a class="link dim silver" href="/photos/{{ .Params.next }}">
          Next&rarr;
        </a>
      {{ end }}
		</p>
		<p>
			<span class="mid-gray">Search on</span>
			<a class="link dim silver" target="_blank" href="https://photos.google.com/search/{{.Date.Format "2006-01-02"  }}">
				Google Photos
			</a>
			<span class="mid-gray">or manually</span>
			<span class="silver">
				{{.Date.Format "2006-01-02" }}
			</span>
		</p>

		{{ if (gt (len .Params.Tags) 0) }}
			<div class="f6-ns monospace">
				<p>
					{{- range .Params.Tags -}}
						<a class="link dim mid-gray" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
					{{ end }}
				</p>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
