{{ define "title" }}
	{{ .Params.title }} - {{ $.Site.Title }}
{{ end }}

{{ define "main" }}
	<div class="mw6 center f7 f5-ns">
		<img class="ba bw2 b--moon-gray border-box br1" src="https://storage.googleapis.com/charlieegan3-instagram-archive/current/{{ .Params.file_reference }}.jpg">

		<div>
			{{ .Content }}
		</div>

		<div class="f6-ns monospace">
			<p>
				{{ range .Params.Tags }}
					<a class="link dim mid-gray" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
				{{ end }}
			</p>
		</div>

		<div>
			{{ $pageId := .Params.id }}
			{{ range .Params.locations }}
				{{ $location := ($.Site.GetPage "taxonomyTerm" "locations" .) }}

				<div id="photomap" style="width: 100%; height: 250px;"></div>
				<script>
					var lat = {{ $location.Params.lat }};
					var lon = {{ $location.Params.long }};
					var mymap = L.map('photomap', { zoomControl: false }).setView([lat, lon], 7);
					var marker = L.marker([lat, lon]).addTo(mymap);

					var OpenStreetMap_HOT = L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', { maxZoom: 19 }).addTo(mymap);
				</script>

				<p>
					{{ if (gt (len $location.Pages) 1) }}
						<a class="link dim silver" href="{{ $location.Permalink }}">{{ $location.Params.name }} <span class="mid-gray">({{ sub (len $location.Pages) 1 }} other posts)</span></a>
						{{ $.Scratch.Add "images" (first 3 (where $location.Pages ".Params.id" "!=" $pageId)) }}
						{{ partial "photo_grid.html" $ }}
					{{ else }}
						<span class="silver">{{ $location.Params.name }}</span>
					{{ end }}
				</p>
			{{ end }}
		</div>
	</div>
{{ end }}
